.data-management-reciept-doc3 {
  width: 718px;
  position: relative;
  height: 545.9px;
  object-fit: cover;
}
.frame-child1 {
  width: 373px;
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  height: 90.8px;
}
.choose-the-purpose2 {
  width: 348.7px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  height: 63px;
  flex-shrink: 0;
  margin-left: -340px;
}
.frame-div,
.why-do-you2 {
  display: flex;
  align-items: center;
}
.frame-div {
  width: 381.7px;
  height: 90.8px;
  flex-direction: row;
  justify-content: flex-end;
}
.why-do-you2 {
  width: 353px;
  position: relative;
  
  height: 55px;

}
.frame40,
.frame41 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame41 {
  width: 369px;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame40 {
  width: 381.7px;
  height: 169.2px;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.work-purpose2 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.frame44 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-76xl);
  background-color: var(--color-gainsboro-200);
  width: 366px;
  border-radius: var(--br-2xs);
  height: 43px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
.frame43 {
  width: 345px;
  border-radius: var(--br-3xs);
  align-items: flex-start;
}
.frame43,
.frame45,
.frame46 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.frame46 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-125xl);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  border-radius: var(--br-2xs);
  height: 43px;
  flex-shrink: 0;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame45 {
  width: 352px;
  align-items: flex-end;
}
.frame39,
.frame42,
.frame48 {
  flex-shrink: 0;
  flex-direction: column;
}
.frame48 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-59xl);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  border-radius: var(--br-2xs);
  height: 43px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
.frame39,
.frame42 {
  justify-content: flex-start;
}
.frame42 {
  width: 352px;
  height: 254px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 0 var(--padding-12xs-7);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.frame39 {
  width: 382px;
  height: 463px;
  align-items: flex-start;
  gap: var(--gap-21xl);
}
.frame36,
.frame37,
.frame38,
.frame39 {
  overflow: hidden;
  display: flex;
}
.frame38 {
  width: 400px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frame36,
.frame37 {
  width: 1168.7px;
  justify-content: flex-start;
}
.frame37 {
  height: 545.9px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-50xl);
}
.frame36 {
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-12xs-6);
  box-sizing: border-box;
}
.logo-icon4 {
  width: 237px;
  position: relative;
  height: 161.6px;
}
.rubix005gmailcom4 {
  width: 217px;
  position: relative;
  line-height: 29.71px;
  display: flex;
  align-items: center;
  height: 28.7px;
  flex-shrink: 0;
}
.frame52 {
  width: 237px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.rubix4 {
  width: 239px;
  position: relative;
  line-height: 44px;
  font-weight: 600;
  display: inline-block;
  height: 114.7px;
  flex-shrink: 0;
}
.frame51,
.frame53 {
  width: 416px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}
.frame53 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: -416px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.frame51 {
  height: 114.7px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: -34px;
}
.choose-ger-pur,
.frame49,
.frame50 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame50 {
  width: 416px;
  height: 241.9px;
  flex-shrink: 0;
  justify-content: flex-start;
}
.choose-ger-pur,
.frame49 {
  width: 1127.7px;
  justify-content: center;
  font-size: var(--font-size-2xl-1);
  color: var(--color-white);
}
.choose-ger-pur {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3c69dd, #042067);
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base-3) var(--padding-130xl-3) var(--padding-24xl-3)
    var(--padding-103xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
