.group-child42 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div25 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent26 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
}
.french-a1-child,
.french-a1-child1,
.french-a1-inner,
.french-a1-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.french-a1-child1,
.french-a1-inner,
.french-a1-item {
  top: 588px;
}
.french-a1-child1,
.french-a1-inner {
  top: 794px;
}
.french-a1-child1 {
  top: 686px;
}
.what-does-picture25 {
  position: absolute;
  top: 411px;
  left: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.french-a1-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary25 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.dog-icon10 {
  position: absolute;
  top: 175px;
  left: 311px;
  width: 380px;
  height: 220px;
  object-fit: cover;
}
.achien,
.ble-chat,
.cgaron,
.dhomme {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.ble-chat,
.cgaron,
.dhomme {
  top: 97px;
  left: 7px;
}
.cgaron,
.dhomme {
  top: 195px;
  left: 6px;
}
.dhomme {
  top: 308px;
  left: 7px;
}
.achien-parent {
  position: absolute;
  top: 505px;
  left: 461px;
  width: 79px;
  height: 334px;
}
.french-a1-child3,
.group-child43 {
  position: absolute;
  top: 495px;
  left: 360px;
  width: 35px;
  height: 338px;
}
.group-child43 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back5,
.vector-parent17 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent17 {
  top: 902px;
  left: 441px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.french-a1 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-krub);
}
