.group-child53 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div31 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent32 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.french-2b-child,
.french-2b-inner,
.french-2b-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.french-2b-inner,
.french-2b-item {
  top: 588px;
  background-color: var(--color-lightcoral);
}
.french-2b-inner {
  top: 797px;
  background-color: var(--color-gainsboro-200);
}
.what-does-picture31 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.french-2b-child1 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary31 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.dog-icon16 {
  position: absolute;
  top: 175px;
  left: 311px;
  width: 380px;
  height: 220px;
  object-fit: cover;
}
.french-2b-child2 {
  position: absolute;
  top: 689px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.group-child54 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent22 {
  position: absolute;
  top: 927px;
  left: 450px;
  width: 114px;
  height: 43px;
}
.chien4,
.le-chat4 {
  position: absolute;
  top: 0;
  left: 0;
}
.le-chat4 {
  top: 97px;
  left: 7px;
}
.chien-parent2,
.fille,
.garon4 {
  position: absolute;
  top: 195px;
  left: 7px;
}
.chien-parent2,
.fille {
  top: 306px;
}
.chien-parent2 {
  top: 510px;
  left: 474px;
  width: 76px;
  height: 332px;
}
.french-2b {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
