.group-child201 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div188 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent109 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.french-travel-3-child,
.french-travel-3-item {
  position: absolute;
  border-radius: var(--br-2xs);
  width: 338px;
}
.french-travel-3-child {
  top: 611px;
  left: 320px;
  background-color: var(--color-gainsboro-200);
  height: 45px;
  cursor: pointer;
}
.french-travel-3-item {
  top: 36px;
  left: 328px;
  background-color: var(--color-gainsboro-300);
  height: 62px;
}
.lets-travel8 {
  position: absolute;
  top: 46px;
  left: 420px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.french-travel-3-inner {
  position: absolute;
  top: 712px;
  left: 320px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.screenshare-volume-max8 {
  position: absolute;
  top: 712px;
  left: 344px;
  width: 30px;
  height: 40px;
  overflow: hidden;
}
.beach-1-icon1 {
  position: absolute;
  top: 209px;
  left: 304px;
  width: 398px;
  height: 346px;
  object-fit: cover;
}
.beach1 {
  position: absolute;
  top: 621px;
  left: 470px;
}
.group-child202,
.plage {
  position: absolute;
  top: 725px;
  left: 477px;
}
.group-child202 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.continue28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 23px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.group-child203,
.vector-parent93 {
  position: absolute;
  top: 818px;
  left: 745px;
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.group-child203 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.back28,
.vector-parent94 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent94 {
  top: 818px;
  left: 165px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.french-travel-3 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
