.group-child71 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div41 {
  position: absolute;
  top: 2px;
  left: 81px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent42 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.french-4c-child,
.french-4c-child1,
.french-4c-inner,
.french-4c-item {
  position: absolute;
  top: 773px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.french-4c-child1,
.french-4c-inner,
.french-4c-item {
  top: 588px;
}
.french-4c-child1,
.french-4c-inner {
  top: 680px;
  background-color: var(--color-lightcoral);
}
.french-4c-child1 {
  top: 486px;
  left: 327px;
  background-color: var(--color-gainsboro-200);
}
.what-does-picture41 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.french-4c-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary41 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.french-4c-child3 {
  position: absolute;
  top: 186px;
  left: 395px;
  border-radius: 50%;
  width: 190px;
  height: 208px;
  object-fit: cover;
}
.group-child72 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again24,
.vector-parent30 {
  position: absolute;
  cursor: pointer;
}
.try-again24 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent30 {
  top: 923px;
  left: 459px;
  width: 114px;
  height: 43px;
}
.fille8,
.les-femmes4 {
  position: absolute;
  top: 288px;
  left: 0;
}
.fille8 {
  top: 0;
  left: 6px;
}
.homme4,
.le-chat12 {
  position: absolute;
  top: 98px;
  left: 8px;
}
.homme4 {
  top: 193px;
  left: 6px;
}
.les-femmes-parent {
  position: absolute;
  top: 486px;
  left: 464px;
  width: 112px;
  height: 314px;
}
.french-4c {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
