.group-child252 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div210 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent126 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.french-work-1-child {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.lets-greet5 {
  position: absolute;
  top: 46px;
  left: 420px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.french-work-1-item {
  position: absolute;
  top: 226px;
  left: 323px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.hello-good-morning1 {
  position: absolute;
  top: 231px;
  left: 380px;
}
.french-work-1-inner {
  position: absolute;
  top: 405px;
  left: 320px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.screenshare-volume-max25 {
  position: absolute;
  top: 405px;
  left: 344px;
  width: 30px;
  height: 40px;
  overflow: hidden;
}
.bonjour-bonjour,
.group-child253 {
  position: absolute;
  top: 413px;
  left: 410px;
}
.group-child253 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back45 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.group-child254,
.vector-parent127 {
  position: absolute;
  width: 114px;
  height: 43px;
}
.vector-parent127 {
  top: 535px;
  left: 145px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child254 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.continue45,
.vector-parent128 {
  position: absolute;
  cursor: pointer;
}
.continue45 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 6px;
  left: 23px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent128 {
  top: 540px;
  left: 695px;
  width: 114px;
  height: 43px;
}
.french-work-1 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
