.group-child51 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div30 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent31 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
}
.french-c2-child,
.french-c2-inner,
.french-c2-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.french-c2-inner,
.french-c2-item {
  top: 588px;
}
.french-c2-inner {
  top: 797px;
}
.what-does-picture30 {
  position: absolute;
  top: 411px;
  left: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.french-c2-child1 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary30 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.dog-icon15 {
  position: absolute;
  top: 175px;
  left: 311px;
  width: 380px;
  height: 220px;
  object-fit: cover;
}
.french-c2-child2 {
  position: absolute;
  top: 689px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.achien1,
.ble-chat1,
.cgaron1,
.dfille {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.ble-chat1,
.cgaron1,
.dfille {
  top: 97px;
  left: 7px;
}
.cgaron1,
.dfille {
  top: 195px;
}
.dfille {
  top: 306px;
}
.achien-group {
  position: absolute;
  top: 510px;
  left: 474px;
  width: 76px;
  height: 332px;
}
.french-c2-child3,
.group-child52 {
  position: absolute;
  top: 491px;
  left: 360px;
  width: 35px;
  height: 349px;
}
.group-child52 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back6,
.vector-parent21 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent21 {
  top: 912px;
  left: 395px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.french-c2 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-krub);
}
