.group-child78 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div45 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent46 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
}
.french-b5-child,
.french-b5-child1,
.french-b5-inner,
.french-b5-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.french-b5-child1,
.french-b5-inner,
.french-b5-item {
  top: 588px;
}
.french-b5-child1,
.french-b5-inner {
  top: 797px;
}
.french-b5-child1 {
  top: 686px;
}
.what-does-picture45 {
  position: absolute;
  top: 411px;
  left: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.french-b5-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary45 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.french-b5-child3 {
  position: absolute;
  top: 161px;
  left: 358px;
  width: 265px;
  height: 189px;
  object-fit: cover;
}
.achien2,
.bhomme,
.cgaron2,
.dle-chat {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 307px;
  left: 4px;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.achien2,
.bhomme,
.cgaron2 {
  top: 197px;
  left: 6px;
}
.achien2,
.bhomme {
  top: 97px;
  left: 0;
}
.achien2 {
  top: 0;
}
.dle-chat-parent {
  position: absolute;
  top: 498px;
  left: 463px;
  width: 73px;
  height: 333px;
}
.french-b5-child4,
.group-child79 {
  position: absolute;
  top: 490px;
  left: 364px;
  width: 35px;
  height: 350px;
}
.group-child79 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back9,
.vector-parent33 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent33 {
  top: 905px;
  left: 445px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.french-b5 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-krub);
}
