.group-child127 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div72 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent73 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.german-5c-child,
.german-5c-child1,
.german-5c-inner,
.german-5c-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.german-5c-child1,
.german-5c-inner,
.german-5c-item {
  top: 588px;
}
.german-5c-child1,
.german-5c-inner {
  top: 797px;
}
.german-5c-child1 {
  top: 686px;
  background-color: var(--color-lightcoral);
}
.what-does-picture72 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.german-5c-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary72 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.german-5c-child3 {
  position: absolute;
  top: 161px;
  left: 358px;
  width: 265px;
  height: 189px;
  object-fit: cover;
}
.group-child128 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again43,
.vector-parent55 {
  position: absolute;
  cursor: pointer;
}
.try-again43 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent55 {
  top: 926px;
  left: 444px;
  width: 114px;
  height: 43px;
}
.hund13 {
  position: absolute;
  top: 0;
  left: 0;
}
.einen-jungen9,
.oh-mann9 {
  position: absolute;
  top: 97px;
  left: 0;
}
.einen-jungen9 {
  top: 197px;
  left: 6px;
}
.hund-parent7,
.katze17 {
  position: absolute;
  top: 307px;
  left: 4px;
}
.hund-parent7 {
  top: 500px;
  left: 441px;
  width: 135px;
  height: 333px;
}
.german-5c {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
