.group-child210 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div191 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent112 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.german-travel-4-child,
.german-travel-4-item {
  position: absolute;
  border-radius: var(--br-2xs);
  width: 338px;
}
.german-travel-4-child {
  top: 611px;
  left: 320px;
  background-color: var(--color-gainsboro-200);
  height: 45px;
  cursor: pointer;
}
.german-travel-4-item {
  top: 36px;
  left: 328px;
  background-color: var(--color-gainsboro-300);
  height: 62px;
}
.lets-travel11 {
  position: absolute;
  top: 46px;
  left: 420px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.german-travel-4-inner {
  position: absolute;
  top: 717px;
  left: 320px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.screenshare-volume-max11 {
  position: absolute;
  top: 717px;
  left: 344px;
  width: 30px;
  height: 40px;
  overflow: hidden;
}
.hotel-1-icon2 {
  position: absolute;
  top: 199px;
  left: 317px;
  width: 349px;
  height: 361px;
  object-fit: cover;
}
.places-to-visit2 {
  position: absolute;
  top: 621px;
  left: 410px;
}
.group-child211,
.orte-zum-besuchen {
  position: absolute;
  top: 724px;
  left: 400px;
}
.group-child211 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.continue31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 23px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.group-child212,
.vector-parent99 {
  position: absolute;
  top: 815px;
  left: 703px;
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.group-child212 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.back31 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent100 {
  position: absolute;
  top: 805px;
  left: 134px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.german-travel-4 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
