.group-child279 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div219 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent135 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.german-work-2-child {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.lets-greet14 {
  position: absolute;
  top: 46px;
  left: 420px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.german-work-2-item {
  position: absolute;
  top: 226px;
  left: 323px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.welcome-sir2 {
  position: absolute;
  top: 231px;
  left: 415px;
}
.german-work-2-inner {
  position: absolute;
  top: 405px;
  left: 320px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.screenshare-volume-max34 {
  position: absolute;
  top: 405px;
  left: 344px;
  width: 30px;
  height: 40px;
  overflow: hidden;
}
.group-child280,
.willkommen-herr {
  position: absolute;
  top: 411px;
  left: 404px;
}
.group-child280 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.continue54 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 23px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.group-child281,
.vector-parent145 {
  position: absolute;
  top: 631px;
  left: 685px;
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.group-child281 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.back54 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent146 {
  position: absolute;
  top: 626px;
  left: 135px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.german-work-2 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
