.group-child114 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div65 {
  position: absolute;
  top: 2px;
  left: 81px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent66 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
}
.german-d4-child,
.german-d4-child1,
.german-d4-inner,
.german-d4-item {
  position: absolute;
  top: 773px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.german-d4-child1,
.german-d4-inner,
.german-d4-item {
  top: 588px;
}
.german-d4-child1,
.german-d4-inner {
  top: 680px;
}
.german-d4-child1 {
  top: 486px;
  left: 327px;
}
.german-d4-child2 {
  position: absolute;
  top: 486px;
  left: 360px;
  width: 38px;
  height: 332px;
}
.what-does-picture65 {
  position: absolute;
  top: 411px;
  left: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.german-d4-child3 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary65 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.german-d4-child4 {
  position: absolute;
  top: 186px;
  left: 395px;
  border-radius: 50%;
  width: 190px;
  height: 208px;
  object-fit: cover;
}
.amdchen,
.bkatze2,
.coh-mann,
.dweiblich1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 288px;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.amdchen,
.bkatze2,
.coh-mann {
  top: 0;
  left: 6px;
}
.bkatze2,
.coh-mann {
  top: 98px;
  left: 8px;
}
.coh-mann {
  top: 193px;
  left: 6px;
}
.dweiblich-parent,
.group-child115 {
  position: absolute;
  top: 486px;
  left: 441px;
  width: 98px;
  height: 314px;
}
.group-child115 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back13,
.vector-parent49 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent49 {
  top: 875px;
  left: 460px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.german-d4 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-krub);
}
