.group-child207 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div190 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent111 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.german-travel-1-child,
.german-travel-1-item {
  position: absolute;
  border-radius: var(--br-2xs);
  width: 338px;
}
.german-travel-1-child {
  top: 611px;
  left: 320px;
  background-color: var(--color-gainsboro-200);
  height: 45px;
  cursor: pointer;
}
.german-travel-1-item {
  top: 36px;
  left: 328px;
  background-color: var(--color-gainsboro-300);
  height: 62px;
}
.lets-travel10 {
  position: absolute;
  top: 46px;
  left: 420px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.weather-icon-clipart-xl-12 {
  position: absolute;
  top: 209px;
  left: 243px;
  width: 486px;
  height: 364px;
  object-fit: cover;
}
.weather2 {
  position: absolute;
  top: 621px;
  left: 445px;
}
.german-travel-1-inner {
  position: absolute;
  top: 725px;
  left: 320px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.screenshare-volume-max10 {
  position: absolute;
  top: 725px;
  left: 344px;
  width: 30px;
  height: 40px;
  overflow: hidden;
}
.group-child208,
.wetter {
  position: absolute;
  top: 735px;
  left: 456px;
}
.group-child208 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.continue30 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 23px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.group-child209,
.vector-parent97 {
  position: absolute;
  top: 813px;
  left: 707px;
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.group-child209 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.back30,
.vector-parent98 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent98 {
  top: 808px;
  left: 157px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.german-travel-1 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
