.group-child159 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div138 {
  position: absolute;
  top: 2px;
  left: 81px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent91 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
}
.japanese-d4-child,
.japanese-d4-child1,
.japanese-d4-inner,
.japanese-d4-item {
  position: absolute;
  top: 773px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.japanese-d4-child1,
.japanese-d4-inner,
.japanese-d4-item {
  top: 588px;
}
.japanese-d4-child1,
.japanese-d4-inner {
  top: 680px;
}
.japanese-d4-child1 {
  top: 486px;
  left: 327px;
}
.what-does-picture90 {
  position: absolute;
  top: 411px;
  left: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.japanese-d4-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary90 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.japanese-d4-child3 {
  position: absolute;
  top: 186px;
  left: 395px;
  border-radius: 50%;
  width: 190px;
  height: 208px;
  object-fit: cover;
}
.d3 {
  position: absolute;
  top: 288px;
  left: 0;
}
.a3,
.b3,
.d3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.a3 {
  position: absolute;
  top: 0;
  left: 6px;
}
.b3 {
  top: 98px;
  left: 8px;
}
.b3,
.c3,
.d-parent {
  position: absolute;
}
.c3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 193px;
  left: 6px;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.d-parent {
  top: 504px;
  left: 467px;
  width: 46px;
  height: 314px;
}
.group-child160,
.japanese-d4-child4 {
  position: absolute;
  top: 486px;
  left: 376px;
  width: 35px;
  height: 332px;
}
.group-child160 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back18,
.vector-parent69 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent69 {
  top: 911px;
  left: 441px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.japanese-d4 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-krub);
}
