.group-child228 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div199 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent118 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.japanese-travel-5-child,
.japanese-travel-5-item {
  position: absolute;
  border-radius: var(--br-2xs);
  width: 338px;
}
.japanese-travel-5-child {
  top: 611px;
  left: 320px;
  background-color: var(--color-gainsboro-200);
  height: 45px;
  cursor: pointer;
}
.japanese-travel-5-item {
  top: 36px;
  left: 328px;
  background-color: var(--color-gainsboro-300);
  height: 62px;
}
.lets-travel17 {
  position: absolute;
  top: 46px;
  left: 420px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.japanese-travel-5-inner {
  position: absolute;
  top: 710px;
  left: 320px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.screenshare-volume-max17 {
  position: absolute;
  top: 710px;
  left: 344px;
  width: 30px;
  height: 40px;
  overflow: hidden;
}
.first-aid-13 {
  position: absolute;
  top: 193px;
  left: 241px;
  width: 523px;
  height: 385px;
  object-fit: cover;
}
.first-aid-kit3 {
  position: absolute;
  top: 616px;
  left: 444px;
}
.div200,
.group-child229 {
  position: absolute;
  top: 711.5px;
  left: 431.1px;
}
.group-child229 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.continue37 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 23px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.group-child230,
.vector-parent111 {
  position: absolute;
  top: 828px;
  left: 678px;
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.group-child230 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.back37 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent112 {
  position: absolute;
  top: 823px;
  left: 128px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.japanese-travel-5 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
