.group-child134 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div76 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent77 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.japanese-1d-child,
.japanese-1d-child1,
.japanese-1d-inner,
.japanese-1d-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.japanese-1d-child1,
.japanese-1d-inner,
.japanese-1d-item {
  top: 588px;
}
.japanese-1d-child1,
.japanese-1d-inner {
  top: 794px;
  background-color: var(--color-lightcoral);
}
.japanese-1d-child1 {
  top: 686px;
  background-color: var(--color-gainsboro-200);
}
.what-does-picture76 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.japanese-1d-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary76 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.dog-icon31 {
  position: absolute;
  top: 175px;
  left: 311px;
  width: 380px;
  height: 220px;
  object-fit: cover;
}
.group-child135 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again45,
.vector-parent58 {
  position: absolute;
  cursor: pointer;
}
.try-again45 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent58 {
  top: 926px;
  left: 461px;
  width: 114px;
  height: 43px;
}
.div77,
.div78 {
  position: absolute;
  top: 0;
  left: 0;
}
.div78 {
  top: 97px;
  left: 7px;
}
.div79,
.div80,
.parent {
  position: absolute;
  top: 195px;
  left: 6px;
}
.div80,
.parent {
  top: 308px;
  left: 7px;
}
.parent {
  top: 505px;
  left: 478px;
  width: 46px;
  height: 334px;
}
.japanese-1d {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
