.group-child141 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div96 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent81 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
}
.japanese-c2-child,
.japanese-c2-inner,
.japanese-c2-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.japanese-c2-inner,
.japanese-c2-item {
  top: 588px;
}
.japanese-c2-inner {
  top: 797px;
}
.what-does-picture80 {
  position: absolute;
  top: 411px;
  left: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.japanese-c2-child1 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary80 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.dog-icon35 {
  position: absolute;
  top: 175px;
  left: 311px;
  width: 380px;
  height: 220px;
  object-fit: cover;
}
.japanese-c2-child2 {
  position: absolute;
  top: 689px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.a1,
.b1,
.c1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.a1 {
  position: absolute;
  top: 0;
  left: 0;
}
.b1,
.c1 {
  left: 7px;
}
.b1 {
  position: absolute;
  top: 97px;
}
.c1 {
  top: 195px;
}
.a-group,
.c1,
.d1 {
  position: absolute;
}
.d1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 306px;
  left: 7px;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.a-group {
  top: 510px;
  left: 474px;
  width: 47px;
  height: 332px;
}
.japanese-c2-child3 {
  position: absolute;
  top: -689px;
  left: 369px;
  width: 35px;
  height: 346px;
}
.group-child142,
.japanese-c2-child4 {
  position: absolute;
  top: 499px;
  left: 346px;
  width: 65px;
  height: 343px;
}
.group-child142 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back16,
.vector-parent61 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent61 {
  top: 920px;
  left: 450px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.japanese-c2 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-krub);
}
