.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div13 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent14 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.spainish-3a-child,
.spainish-3a-inner,
.spainish-3a-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-lightcoral);
  width: 338px;
  height: 45px;
}
.spainish-3a-inner,
.spainish-3a-item {
  top: 797px;
  background-color: var(--color-gainsboro-200);
}
.spainish-3a-inner {
  top: 686px;
}
.what-does-picture13 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.spainish-3a-child1 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary13 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.gato10 {
  position: absolute;
  top: 499px;
  left: 473px;
}
.spainish-3a-child2 {
  position: absolute;
  top: 182px;
  left: 363px;
  border-radius: 50%;
  width: 242px;
  height: 210px;
  object-fit: cover;
}
.spainish-3a-child3 {
  position: absolute;
  top: 588px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.chica6,
.perro-perro10 {
  position: absolute;
  top: 591px;
  left: 473px;
}
.chica6 {
  top: 696px;
}
.group-child22,
.mujeres2 {
  position: absolute;
  top: 806px;
  left: 450px;
}
.group-child22 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again8,
.vector-parent8 {
  position: absolute;
  cursor: pointer;
}
.try-again8 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent8 {
  top: 926px;
  left: 440px;
  width: 114px;
  height: 43px;
}
.spainish-3a {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
