.group-child33 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div20 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent21 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
}
.spainish-b5-child {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.aperro-perro2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 500px;
  left: 474px;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.spainish-b5-child1,
.spainish-b5-inner,
.spainish-b5-item {
  position: absolute;
  top: 588px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.spainish-b5-child1,
.spainish-b5-inner {
  top: 797px;
}
.spainish-b5-child1 {
  top: 686px;
}
.what-does-picture20 {
  position: absolute;
  top: 411px;
  left: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.spainish-b5-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary20 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.spainish-b5-child3 {
  position: absolute;
  top: 161px;
  left: 358px;
  width: 265px;
  height: 189px;
  object-fit: cover;
}
.bhombre,
.cnio2,
.dgato {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 597px;
  left: 474px;
  font-size: var(--font-size-xl);
  font-family: var(--font-krub);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.cnio2,
.dgato {
  top: 697px;
  left: 480px;
}
.dgato {
  top: 807px;
  left: 478px;
}
.group-child34,
.spainish-b5-child4 {
  position: absolute;
  top: 495px;
  left: 358px;
  width: 35px;
  height: 338px;
}
.group-child34 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back4,
.vector-parent13 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.vector-parent13 {
  top: 906px;
  left: 444px;
  width: 114px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.spainish-b5 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-krub);
}
