.group-child183 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div182 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent103 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.spainish-travel-3-child,
.spainish-travel-3-item {
  position: absolute;
  border-radius: var(--br-2xs);
  width: 338px;
}
.spainish-travel-3-child {
  top: 611px;
  left: 320px;
  background-color: var(--color-gainsboro-200);
  height: 45px;
  cursor: pointer;
}
.spainish-travel-3-item {
  top: 36px;
  left: 328px;
  background-color: var(--color-gainsboro-300);
  height: 62px;
}
.lets-travel2 {
  position: absolute;
  top: 46px;
  left: 420px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.spainish-travel-3-inner {
  position: absolute;
  top: 712px;
  left: 320px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
  cursor: pointer;
}
.screenshare-volume-max2 {
  position: absolute;
  top: 712px;
  left: 344px;
  width: 30px;
  height: 40px;
  overflow: hidden;
}
.beach-1-icon {
  position: absolute;
  top: 209px;
  left: 304px;
  width: 398px;
  height: 346px;
  object-fit: cover;
}
.beach {
  position: absolute;
  top: 621px;
  left: 470px;
}
.group-child184,
.playa {
  position: absolute;
  top: 719px;
  left: 475px;
}
.group-child184 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
  cursor: pointer;
}
.back22 {
  position: absolute;
  top: 11px;
  left: 45px;
}
.group-child185,
.vector-parent81 {
  position: absolute;
  width: 114px;
  height: 43px;
}
.vector-parent81 {
  top: 792px;
  left: 175px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child185 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.continue22,
.vector-parent82 {
  position: absolute;
  cursor: pointer;
}
.continue22 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 6px;
  left: 23px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent82 {
  top: 792px;
  left: 755px;
  width: 114px;
  height: 43px;
}
.spainish-travel-3 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
