.group-child23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div14 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent15 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.spainish-3c-child,
.spainish-3c-inner,
.spainish-3c-item {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.spainish-3c-inner,
.spainish-3c-item {
  top: 797px;
}
.spainish-3c-inner {
  top: 686px;
  background-color: var(--color-aquamarine);
}
.spainish-3c-child1 {
  position: absolute;
  top: 929px;
  left: 634px;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.continue2,
.what-does-picture14 {
  position: absolute;
  color: var(--color-white);
}
.continue2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 940px;
  left: 657px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  text-align: left;
  display: inline-block;
}
.what-does-picture14 {
  top: 411px;
  left: 364px;
}
.spainish-3c-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary14 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.gato11 {
  position: absolute;
  top: 499px;
  left: 473px;
}
.spainish-3c-child3 {
  position: absolute;
  top: 182px;
  left: 363px;
  border-radius: 50%;
  width: 242px;
  height: 210px;
  object-fit: cover;
}
.spainish-3c-child4 {
  position: absolute;
  top: 588px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.chica7,
.mujeres3,
.perro-perro11 {
  position: absolute;
  top: 591px;
  left: 473px;
}
.chica7,
.mujeres3 {
  top: 696px;
}
.mujeres3 {
  top: 806px;
  left: 450px;
}
.spainish-3c {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
