.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div22 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent23 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.spainish-5c-child {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.perro-perro13 {
  position: absolute;
  top: 500px;
  left: 474px;
}
.spainish-5c-child1,
.spainish-5c-inner,
.spainish-5c-item {
  position: absolute;
  top: 588px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.spainish-5c-child1,
.spainish-5c-inner {
  top: 797px;
}
.spainish-5c-child1 {
  top: 686px;
  background-color: var(--color-lightcoral);
}
.what-does-picture22 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.spainish-5c-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary22 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.spainish-5c-child3 {
  position: absolute;
  top: 161px;
  left: 358px;
  width: 265px;
  height: 189px;
  object-fit: cover;
}
.hombre9,
.nio9 {
  position: absolute;
  top: 597px;
  left: 474px;
}
.nio9 {
  top: 697px;
  left: 480px;
}
.gato17,
.group-child38 {
  position: absolute;
  top: 807px;
  left: 478px;
}
.group-child38 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again13,
.vector-parent15 {
  position: absolute;
  cursor: pointer;
}
.try-again13 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent15 {
  top: 926px;
  left: 444px;
  width: 114px;
  height: 43px;
}
.spainish-5c {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
