.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div16 {
  position: absolute;
  top: 2px;
  left: 81px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent17 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.spainish-4c-child,
.spainish-4c-item {
  position: absolute;
  top: 773px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.spainish-4c-item {
  top: 588px;
}
.mujeres4 {
  position: absolute;
  top: 787px;
  left: 473px;
}
.spainish-4c-child1,
.spainish-4c-inner {
  position: absolute;
  top: 680px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-lightcoral);
  width: 338px;
  height: 45px;
}
.spainish-4c-child1 {
  top: 486px;
  left: 327px;
  background-color: var(--color-gainsboro-200);
}
.chica8 {
  position: absolute;
  top: 499px;
  left: 479px;
}
.what-does-picture16 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.spainish-4c-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary16 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.gato12 {
  position: absolute;
  top: 597px;
  left: 481px;
}
.spainish-4c-child3 {
  position: absolute;
  top: 186px;
  left: 395px;
  border-radius: 50%;
  width: 190px;
  height: 208px;
  object-fit: cover;
}
.group-child27,
.hombre4 {
  position: absolute;
  top: 692px;
  left: 479px;
}
.group-child27 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again9,
.vector-parent10 {
  position: absolute;
  cursor: pointer;
}
.try-again9 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent10 {
  top: 923px;
  left: 459px;
  width: 114px;
  height: 43px;
}
.spainish-4c {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
