.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div1 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent2 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.spainish-1d-child {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.perro-perro {
  position: absolute;
  top: 500px;
  left: 474px;
}
.spainish-1d-child1,
.spainish-1d-inner,
.spainish-1d-item {
  position: absolute;
  top: 588px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.spainish-1d-child1,
.spainish-1d-inner {
  top: 794px;
  background-color: var(--color-lightcoral);
}
.spainish-1d-child1 {
  top: 686px;
  background-color: var(--color-gainsboro-200);
}
.what-does-picture1 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.spainish-1d-child2 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary1 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.dog-icon1 {
  position: absolute;
  top: 175px;
  left: 311px;
  width: 380px;
  height: 220px;
  object-fit: cover;
}
.gato,
.nio {
  position: absolute;
  top: 597px;
  left: 481px;
}
.nio {
  top: 695px;
  left: 480px;
}
.hombre,
.rectangle-icon {
  position: absolute;
  top: 808px;
  left: 481px;
}
.rectangle-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again,
.vector-group {
  position: absolute;
  cursor: pointer;
}
.try-again {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-group {
  top: 926px;
  left: 461px;
  width: 114px;
  height: 43px;
}
.spainish-1d {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
