.group-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 193px;
  height: 25px;
}
.div7 {
  position: absolute;
  top: 2px;
  left: 82px;
  display: inline-block;
  width: 23px;
  height: 20px;
}
.rectangle-parent8 {
  position: absolute;
  top: 136px;
  left: 392px;
  width: 193px;
  height: 25px;
  font-size: var(--font-size-mini);
}
.spanish-2d-child {
  position: absolute;
  top: 490px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.perro-perro5 {
  position: absolute;
  top: 500px;
  left: 474px;
}
.spanish-2d-inner,
.spanish-2d-item {
  position: absolute;
  top: 588px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.spanish-2d-inner {
  top: 797px;
  background-color: var(--color-lightcoral);
}
.what-does-picture7 {
  position: absolute;
  top: 411px;
  left: 364px;
  color: var(--color-white);
}
.spanish-2d-child1 {
  position: absolute;
  top: 36px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-300);
  width: 338px;
  height: 62px;
}
.pictionary7 {
  position: absolute;
  top: 46px;
  left: 423px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.dog-icon7 {
  position: absolute;
  top: 175px;
  left: 311px;
  width: 380px;
  height: 220px;
  object-fit: cover;
}
.gato5 {
  position: absolute;
  top: 597px;
  left: 481px;
}
.spanish-2d-child2 {
  position: absolute;
  top: 689px;
  left: 328px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 338px;
  height: 45px;
}
.chica1,
.group-child11,
.nio5 {
  position: absolute;
  top: 695px;
  left: 481px;
}
.chica1,
.group-child11 {
  top: 806px;
}
.group-child11 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 114px;
  height: 43px;
}
.try-again4,
.vector-parent3 {
  position: absolute;
  cursor: pointer;
}
.try-again4 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 24px;
  font-size: var(--font-size-base);
  font-family: var(--font-krub);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.vector-parent3 {
  top: 918px;
  left: 458px;
  width: 114px;
  height: 43px;
}
.spanish-2d {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #3763d3, #0f2e7e);
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-krub);
}
